.container {
  width: 100%;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  position: relative;
}

.content_wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 670px) {
  .content_wrapper {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1240px) {
  .content_wrapper {
    padding: 0 32px;
  }
}
