.container {
  width: 100%;
  padding: 0 16px;
}

@media screen and (min-width: 670px) {
  .container {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1240px) {
  .container {
    padding: 0 32px;
  }
}
