.nftsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-bottom: 53px;
}

@media screen and (min-width: 670px) {
  .nftsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 980px) {
  .nftsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1340px) {
  .nftsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
