.banner {
  width: 100%;
  margin: 27px 0;
}

.banner_writeups {
  width: 100%;
  margin-bottom: 26px;
}

.banner_writeups > h1 {
  font-weight: 400;
  font-size: 46px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #434343;
}

.banner_writeups > h1 > span {
  color: rgba(160, 34, 121, 1);
  font-weight: 700;
}

.banner_writeups > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #434343;
  margin: 24px 0;
}

.banner > img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 24px;
}

.tokenContainer {
  width: 100%;
  box-shadow: 0 0 0 100vmax #a02279;
  clip-path: inset(0 -100vmax);
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 15px 0;
  margin-bottom: 56px;
}

.tokenContainer > img {
  max-width: 45%;
  height: auto;
  object-fit: contain;
}

.inspirationContainer {
  width: 100%;
}

.inspirationContainer > h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 45px;
  color: #000000;
  text-align: center;
  margin-bottom: 43px;
}

.nftsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-bottom: 53px;
}

.heroContainer {
  width: 100%;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  box-shadow: 0 0 0 100vmax #a02279;
  clip-path: inset(0 -100vmax);
  padding: 100px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #ffffff;
}

.hero_details {
  margin-bottom: 122px;
}

.hero_details > h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.hero_details > p {
  margin-top: 35px;
  margin-bottom: 57px;
}

.heroContainer > img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (min-width: 670px) {
  .tokenContainer {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .tokenContainer > img {
    max-width: 30%;
  }

  .inspirationContainer > h3 {
    font-size: 38px;
  }

  .nftsContainer {
    grid-template-columns: 1fr 1fr;
  }

  .heroContainer {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  .hero_details {
    width: 60%;
    margin-bottom: 0;
  }

  .heroContainer > img {
    width: 40%;
  }
}

@media screen and (min-width: 980px) {
  .nftsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero_details {
    width: 50%;
  }

  .heroContainer > img {
    width: 50%;
  }

  .heroContainer {
    gap: 56px;
  }
}

@media screen and (min-width: 1020px) {
  .banner {
    display: flex;
    align-items: center;
    gap: 109px;
  }

  .banner_writeups {
    width: 55%;
    margin-bottom: 0;
  }

  .banner_writeups > h1 {
    font-size: 56px;
  }

  .banner_writeups > p {
    max-width: 90%;
  }

  .banner > img {
    width: 45%;
    margin-bottom: 24px;
  }

  .tokenContainer {
    padding: 15px 50px;
  }

  .inspirationContainer > h3 {
    font-size: 48px;
  }

  .heroContainer {
    gap: 122px;
  }

  .hero_details {
    width: 40%;
  }

  .heroContainer > img {
    width: 60%;
  }
}

@media screen and (min-width: 1340px) {
  .nftsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
