.burgermenu {
  border: none;
  background: none;
  width: 45px;
  height: 45px;
  position: relative;
  opacity: 0.8;
  transition: opacity 0.5s ease;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgermenu:hover {
  opacity: 1;
}

.line1 {
  width: 100%;
  position: absolute;
  top: 10px;
  height: 1px;
  border-top: 2px solid #a02279;
  padding: 0;
  opacity: 0.8;
  transition: opacity 0.5s ease;
  outline: none;
  cursor: pointer;
  animation-name: cross1;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

.line2 {
  width: 70%;
  position: absolute;
  right: 0;
  height: 1px;
  border-top: 2px solid #a02279;
  padding: 0;
  opacity: 0.8;
  transition: opacity 0.5s ease;
  outline: none;
  cursor: pointer;
  animation-name: cross2;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

.line3 {
  width: 30%;
  position: absolute;
  right: 0;
  bottom: 15px;
  height: 1px;
  border-top: 2px solid #a02279;
  padding: 0;
  opacity: 0.8;
  transition: opacity 0.5s ease;
  outline: none;
  cursor: pointer;
  animation-name: cross3;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

.opened > .line1 {
  animation-name: line1;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

.opened > .line2 {
  animation-name: line2;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

.opened > .line3 {
  animation-name: line3;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-fill-mode: forwards;
}

@keyframes line1 {
  0% {
    top: 15px;
  }
  50% {
    top: 22px;
  }
  100% {
    transform: rotate(-45deg);
    top: unset;
  }
}

@keyframes cross1 {
  0% {
    transform: rotate(-45deg);
    top: unset;
  }
  50% {
    top: 22px;
  }
  100% {
    transform: rotate(0deg);
    top: 15px;
  }
}

@keyframes line2 {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cross2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes line3 {
  0% {
    bottom: 10px;
    width: 30%;
  }
  50% {
    bottom: 22px;
    width: 70%;
  }
  100% {
    transform: rotate(45deg);
    bottom: unset;
    width: 100%;
  }
}

@keyframes cross3 {
  0% {
    transform: rotate(45deg);
    bottom: unset;
    width: 100%;
  }
  50% {
    bottom: 22px;
    width: 70%;
  }
  100% {
    bottom: 15px;
    width: 30%;
  }
}

@media screen and (min-width: 920px) {
  .burgermenu {
    display: none;
  }
}

@media screen and (min-width: 1240px) {
}
