.container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 12px 20px;
  background: rgba(248, 249, 250, 0.9);
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.container:hover {
  background: rgba(248, 249, 250, 0.1);
}

.container > img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 16px;
}

.container > span {
  width: 12px;
  height: 12px;
  border: 2px solid #1a1a1a;
  margin-left: auto;
  transform: rotate(45deg);
  border-color: #1a1a1a #1a1a1a transparent transparent;
}
