.container {
  width: 240px;
  height: 100vh;
  position: fixed;
  left: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 70px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  transition: left 0.5s ease-in-out;
  box-shadow: 15px 5px 33px -18px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 15px 5px 33px -18px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 15px 5px 33px -18px rgba(0, 0, 0, 0.63);
}

.opened {
  left: 0;
}

.container > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_logo {
  width: 180px;
  height: auto;
  object-fit: contain;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sidebarLinks {
  width: 100%;
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.sidebarLinks > li {
  padding: 12px 24px;
}

@media screen and (min-width: 670px) {
}

@media screen and (min-width: 1240px) {
  .container {
    display: none;
  }
}
